/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/.DS_Store
*/.DS_Store
public/build/
public/css/app.css.map
public/css/
public/js/
public/fonts/
public/mix-manifest.json
composer.lock
public/hot
npm-debug.log
